</style>
</head>

<link href="register.component.html">
<link href="login.component.html">
<link href="lost.component.html">
<link href="landing-page.component.html">
<link href="forgot-password.component.html">
<link href="navbar.component.html">
<link href="admin-lost-n-found.component.html">

<body style="background: url(assets/pcs/lost-and-found-proglem.png); background-size: 100% 100%;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: url(/src/app/assets/pcs/lost-and-found-proglem.png);">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">AboutUs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
            </li>
           
                <button routerLink='register'>Sign Up</button>
            
    
              <form id="call" >
    
              </form>
    
    
    
            <li class="nav-item">
              <button  routerLink="login">Sign In</button></a>
            </li>
          </ul>
        </div>
      </nav>
    
     

</body>
</html>
