<link href="admin-lost-n-found.component.css" type="text/css" rel="stylesheet">
<nav class="navbar navbar-inverse">
    
</nav>
<br>
<br>
<div class="box">
  <div class="container" style="background: rgba(124, 192, 106, 0);">
<form>

      <div class="row justify-content-center">
          <h1><b>Welcome to the lost Profile</b></h1>
      </div>

	  <br><br>
	  
      <label style="font-size:medium ;">Item Description</label><br><br>
      <textarea style="width: 50vh; height: 20vh;" name= ""></textarea><br>
		<br><br>
      
      <label>Date:</label>
      <input type="date" style="margin-left: 18px;" id="date" /><br>
      <br>
      <label>Time:</label>
      <input type="time" style="margin-left: 17px;" id="time" /><br><br>
      <button id="btnSave" style="margin-left: 10px;">Submit</button><br>
      <br>
     <div class="row">
       
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
          <div class="box-part text-center">          
              <i class="fas fa-book fa-10x" aria-hidden="true"></i>                               
                     
          </div>
        </div>
      
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12"> 
          <div class="box-part text-center">          
              <i class="fas fa-sticky-note fa-10x" aria-hidden="true"></i>                               
                      
          </div>
        </div>

  </div>
</form cla>  
  </div>
  <br>
<br>
</div>

<router-outlet></router-outlet>

