<div class="reg" style="background: rgba(164, 192, 156, 0.7); width: 399px ; margin:0 auto ; margin-top: 100px;text-align:center;margin-bottom: 100px;">
        <form style="margin-top: 100px; text-align:center;">
            <br>
            <br>
        <label >First Name</label><br>
        <input type="text" name = "fname"><br>

        <label >Last Name</label><br>
        <input type="text" name = "lname"><br>

        <label >E-mail</label><br>
        <input type="email" name = "E-mail"><br>

        <label >ID Number</label><br>
        <input type="text" name = "ID"><br>
        
        <label >Phone Number</label><br>
        <input type="text" name = "Phone"><br>

        <label >Address</label><br>
        <input type="text" name = "Address"><br>

        <label >Password</label><br>
        <input type="password" name = "Password"><br>

        <label >Confirm Password</label><br>
        <input type="password" name = "confirm_Password"><br>
        <br>

        <button type="submit" class="btn btn-primary">Submit</button><br>
        <br>
        <br>

        
    </form>
</div>
                           
                        
 <router-outlet></router-outlet>                   