
<div style="Background: url(6.png) no-repeat;">
<body   style="Background: url(6.png) no-repeat;">
<div class="cont"  >

    <link href="login.component.css " type="text/css" rel="stylesheet"> 
    <form >
      <div >
        <h1 class="head"><b> LOGIN </b></h1> 
    </div><br><br>

    
    <div class="pev"> 
        <br><br><br><br>
        <label><b>E-mail Address</b></label>
        
        <input name="E-mail" type="email" class="input"  aria-describedby="emailHelp" style="width:250px ;margin:0 auto; " placeholder="E-mail" required>
    </div>
        <br> <small id="emailHelp" class="form-text text-muted"><br>We'll never share your email with anyone else.</small><br>
      <br>
      <div class="pev">
        <label ><b>Password</b></label><br>
        <input name="E-mail" type="password" class="input" placeholder="Password" style="width:250px ;margin:0 auto" required>
      </div>
     
      <button type="submit" class="btn">Submit</button><br>
    
      Not registered <a routerLink ="/register">click here to Register</a>
      <a routerLink ="/register" routerLinkActive="">forgot password</a>
    
      <br>
      <br>
  </form>
    </div>
</body>
</div>
